.idea
.vscode
*.iml
.~*
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-failures
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.cpcache/
.rebel_readline_history
/node_modules
/resources/public/cljs-out
/resources/public/generated
/resources/public/icons
# Private data for deployment.
/private.inc.sh
# Symlinks
/remote_sync.sh
/dev-keystore.jks
