^{:watch-dirs          ["test" "src"]
  :css-dirs            ["resources/public/css"]
  :auto-testing        true
  :auto-bundle         :webpack
  ;; Must not go into the figwheel-main.edn because it alters the
  ;; :ring-server-options in a way that is not overridden in sw.cljs.edn
  ;; (if we get the watching to work).
  :use-ssl             true
  ;; Set certificate be able to add certificate to Chrome to be able to test installability.
  ;; Clicking accept to ignore certificate works for main page but not for service worker.
  ;; Avoid launching Chrome with a shell script with --ignore-certificate-errors.
  :ring-server-options {:keystore     "dev-keystore.jks"    ; git-ignored symlink
                        :key-password "password"}}
{:main            igniteinator.core
 :preloads        [day8.re-frame-10x.preload]
 :closure-defines {re-frame.trace.trace-enabled?        true
                   day8.re-frame.tracing.trace-enabled? true}}
