/* some style */

ol.card-list {
    padding: 0;
    list-style: none;
}

.card-not-loaded {
    background: #a0a0a0;
    width: 2.5in;
    height: 3.5in;
}

.card-img {
    /* TODO: While this is theoretically fine (poker size) it turns out smaller on screen.
             Replace with suitable relative sizing. */
    /*width: 2.5in;
    height: 3.5in;*/
    width: 100%;
    /* Avoid scaling over 100%. */
    max-width: 430px;
}
