/* some style */

.subtitle {
    font-size: smaller;
    font-style: italic;
}

ol.card-list {
    padding: 0;
    list-style: none;
}

.card-not-loaded {
    background: #a0a0a0;
    /* Aspect ratio like a poker sized card. */
    padding-top: 140%;
}

.card-img {
    width: 100%;
    /* Avoid scaling over 100%. */
    max-width: 430px;
}
