@keyframes loading {
    0% {color: #a0a0a0;}
    25% {color: #000000;}
    100% {color: #a0a0a0;}
}

.app-loading {
    text-align: center;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.subtitle {
    font-size: smaller;
    font-style: italic;
}

ol.card-list {
    padding: 0;
    list-style: none;
}

.card-img {
    /* Not auto, will result in full image width, not parent width. */
    width: 100%;
    /* Avoid scaling over 100%. */
    max-width: 430px;
}
