@keyframes loading {
    0% {color: #a0a0a0;}
    25% {color: #000000;}
    100% {color: #a0a0a0;}
}

.app-loading {
    text-align: center;
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.subtitle {
    font-size: smaller;
    font-style: italic;
}

ol.card-list {
    padding: 0;
    list-style: none;
}

.full-width {
    width: 100%;
}

/* https://stackoverflow.com/a/48877138 */
.dyn-height-block {
    display: flex;
    flex-flow: row nowrap;
}
.dyn-height-block .dyn-height-background,
.dyn-height-block .dyn-height-foreground {
    box-sizing: border-box;
    width: 100%;
    flex: none;
}
.dyn-height-block .dyn-height-foreground {
    margin-left: -100%;
}

.card-img {
    /* Not auto, will result in full image width, not parent width. */
    width: 100%;
    /* Avoid scaling over 100%. */
    max-width: 430px;
}
